body { font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size:100%; margin:0; padding:0; border:0; }

a:link, a:visited { text-decoration:none; color:#000; background-color:#fffcba; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
a:hover { color:#6a1a13; }
a.home_link { display:inline-block; position:relative; left:-1em; margin-top:18px; color:#770000 !important; font-weight:bold !important; background-color:transparent !important; }
a.home_link:hover { text-decoration:underline; }

h2, h3 { text-shadow:1px 1px 3px #bdaf5c; }
p { line-height:1.3; }

#logo { width:900px; height:273px; margin:1px auto 10px auto; background:#fff url(/images/phx_rising_logo.jpg); } 
#wrapper { width:900px; margin:0 auto; clear:both; }
#footer { font-family:Arial,sans-serif; font-size:0.7em; color:#c69207; width:900px; margin:30px auto; padding-top:6px; border-top:1px solid #ddd; clear:both;}
#footer div { width:140px; margin:0 auto; }

.highlight { background-color:#edeac6; overflow:auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.shell { width:632px; color:#dd0; background-color:#000; margin-bottom:1em; border:4px solid #99a; border-top:16px solid #99a; overflow:auto; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }

#posts { width:640px; margin-right:10px; float:left; }
#single_post { width:700px; margin:0 auto; clear:both; }
.post { margin-bottom:1em; }
.post_title_link, .post_title { position:relative; left:-0.6em; font-family:Arial,sans-serif; font-size:2em; font-weight:bold; text-decoration:none; color:#6a1a13 !important; background-color:transparent !important; padding:0 0.2em 0 0.1em; text-shadow:1px 1px 3px #bdaf5c; }
.post_title_link:hover { color:#e06e2b !important; }
.post_date { font-family:Arial,sans-serif; font-size:0.8em; color:#666; margin-top:3px; }

#info { width:244px; font-family:Arial,sans-serif; border-left:1px dotted #ddd; padding: 0 0 0 2px; margin:0 0 0 3px; float:left; clear:right; }
#info_title { font-size:1.6em; font-weight:bold; color:#ac212b; margin:0 0 6px 3px; text-shadow:1px 1px 3px #bdaf5c; }

.category { color:#fd8a0d; font-weight:bold; margin:0 0 3px 21px; }
