body {font:16px 'Lucida Sans','Lucida Grande',sans-serif;margin:0;padding:0;border:0;line-height:1.125;}
h1 {font-size:138.5%;}
h2 {font-size:123.1%;}
h3 {font-size:108%;}
h1,h2,h3 {margin:1em 0;font-weight:bold;text-shadow:1px 1px 3px #bdaf5c;}
p {font-size:100%;margin-bottom:1em;padding:0;line-height:1.4;}

a:link,a:visited {text-decoration:none;color:#000;background-color:#fffcba;padding:0 2px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
a:hover {text-decoration:none;color:#6a1a13;background-color:#fffdc6;}
a.home_link {display:inline-block;position:relative;left:-1em;margin-top:18px;color:#770000 !important;font-weight:bold !important;background-color:transparent !important;}
a.home_link:hover {text-decoration:underline;}

.container {width:960px;margin:0 auto;}
.first {margin-left:0px !important;clear:left;}
.grid1,.grid6,.grid17,.grid18 {float:left;margin-left:10px;}
.grid1 {width:30px;}
.grid6 {width:230px;}
.grid17 {width:670px;}
.grid18 {width:710px;}

#logo {width:900px;height:273px;margin:1px auto 10px auto;background:#fff url(/images/phx_rising_logo.jpg);}

.highlight {font-size:0.8em;background-color:#edeac6;overflow:auto;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.shell {font-size:0.8em;width:640px;color:#dd0;background-color:#000;margin:0 auto 1em auto;border:4px solid #99a;border-top:16px solid #99a;overflow:auto;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

#single_post {width:800px;margin:0 auto;}
.post {margin-bottom:1em;}
.post_title_link,.post_title {position:relative;left:-8px;font-family:arial,sans-serif;font-size:220%;font-weight:bold;text-decoration:none;color:#6a1a13 !important;background-color:transparent !important;padding:0 0.2em 0 0.1em;text-shadow:1px 1px 3px #bdaf5c;}
.post_title_link:hover {color:#e06e2b !important;}
.post_date {font-family:arial,sans-serif;font-size:0.8em;color:#666;margin-top:3px;}

.info {font-family:arial,sans-serif;}
#info_title {font-size:1.6em;font-weight:bold;color:#ac212b;margin:0 0 6px 0px;text-shadow:1px 1px 3px #bdaf5c;}

.category a {display:inline-block;color:#fd8a0d;background-color:transparent !important;font-weight:bold;margin:0 0 3px 21px;}
.category a:hover {text-decoration:underline;}
.category span {display:inline-block;position:relative;color:#999;font-size:0.7em;font-weight:normal;top:-0.2em;}
